@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --background: #ffffff;
    --orange_primary: rgb(255, 128, 0);
    --orange_secondary: orange;
    --text: black;
    --text2: white;
    --separator: #ccc;
    --icons: #5b5b5b;
    --filter_background: #f0f0f0;
    --input_background: #f4f4f4;
    --footer_background: #333;
    --article_background: #fbfbfb;
    --information_background: #f9f9f9;
    --tags_background: #f0f0f0;

    --background_dark: #000000;
    --orange_primary_dark: rgb(255, 128, 0);
    --orange_secondary_dark: orange;
    --text_dark: black;
    --text2_dark: white;
    --separator_dark: #ccc;
    --icons_dark: white;
    --filter_background_dark: #f0f0f0;
    --input_background_dark: #f4f4f4;
    --footer_background_dark: #333;
    --article_background_dark: #282828;
    --information_background_dark: #f9f9f9;
    --tags_background_dark: #f0f0f0;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: var(--background_dark);
        --orange_primary: var(--orange_primary_dark);
        --orange_secondary: var(--orange_secondary_dark);
        --text: var(--text_dark);
        --text2: var(--text2_dark);
        --separator: var(--separator_dark);
        --icons: var(--icons_dark);
        --filter_background: var(--filter_background_dark);
        --input_background: var(--input_background_dark);
        --footer_background: var(--footer_background_dark);
        --article_background: var(--article_background_dark);
        --information_background: var(--information_background_dark);
        --tags_background: var(--tags_background_dark);
    }
}

body {
    padding-left: 15%;
    padding-right: 15%;
    font-family: "Roboto", sans-serif;
    background-color: var(--background);

    a {
        color: var(--text);
        text-decoration: none;
    }
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
  
.logo img{
    width: 200px;
    height: auto;
}
  
.search-form {
    display: flex;
    align-items: center;
    background-color: var(--input_background);
    border-radius: 5px;
    padding: 5px;
  
  input[type="text"] {
    width: 300px;
    border: none;
    padding: 8px;
    text-align: left;
    outline: none;
  }
  
  button {
    background-color: var(--orange_secondary);
    color: var(--background);
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
  }
}
  
.user-actions {
    display: flex;
    align-items: center;

    .icons {
        a {
            margin-right: 40px;
            color: var(--icons);
        }
    }

    .sell-button {
        margin-left: 15px;
        padding: 8px;
        border-radius: 5px;
        display: inline-block;
        background-color: var(--orange_primary);

        a {
            color: white;
            font-weight: 600;
        }
    }
}

#menu {
    width: 100%;
    margin-top: 10px;

    ul {
        width: auto;
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 0;

        li {
            padding: 0 5%;

            a {
                text-decoration: none;
                color: var(--footer_background);
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }
}

#ads {
    article {
        position: relative;
        margin-bottom: 20px;
        width: 100%;

        a {
            position: absolute;
            color: white;
            font-size: 3vw;
            text-shadow: .1em .1em .1em var(--text);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 90%;
        }

        img {
            width: 100%;
        }
    }
}

footer {
    background-color: var(--footer_background);
    color: var(--text2);
    padding: 20px 0;
    text-align: center;
}


#sell {
    form {
        display: flex;
        flex-direction: column;
    }

    h2 {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        text-transform: uppercase;
    }
    h2::before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 110%;
        background-color: var(--orange_primary);
        margin-right: 10px;
    }

    .input-container {
        display: flex;
        align-items: center;
        padding-bottom: 50px;
        margin-top: 40px;
        border-bottom: 1px solid var(--separator);
        
        label {
            width: 90%;
            
        }

        input[type="text"],
        input[type="number"],
        textarea,
        select {
            border: none; 
            border-bottom: 1px solid var(--separator);
            background-color: transparent;
            width: 100%;
            padding: 10px;
            resize: none;
        }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none; 
            -moz-appearance: textfield; 
            appearance: none; 
        }
    }

    .input-container:last-of-type {
        border-bottom: none;
    }

    .upload-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        justify-content: flex-end;
    }

    button[type="upload"] {
        float: right; 
        padding: 5px 8px;
        font-size: 14px; 
        background-color: var(--orange_secondary); 
        color: var(--text2); 
        border: 10px;
        border-radius: 5px;
        width: 120px;
        align-self: flex-end;
        margin: 0 20px;
    }
}

#filter {
    width: 170px;
    float: left;
    padding: 20px;
    background-color: var(--filter_background);

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 10px;
        }
    }

    h2 {
        font-size: large;
        font-weight: bold;
    }
}

#wish-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-bottom: 50px;

    h2 {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        text-transform: uppercase;
    }
    h2::before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 110%;
        background-color: var(--orange_primary);
        margin-right: 10px;
    }

    article {
        display: grid;
        grid-template-columns: auto 1fr auto;
        background-color: var(--article_background);
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        align-items: center;

        img {
            width: auto;
            border-radius: 5px;
            max-width: 100%;
            max-height: 150px;
            justify-self: center;
        }

        #product-information {
            padding: 0 20px;
            display: grid;
            grid-template-rows: auto 1fr auto;
            text-align: start;

            h1 {
                margin: 0;
            }

            p {
                color:var(--text);
                opacity: 0.5;
                font-size: small;
                font-weight: 300;
            }

            .remove-wishlist {
                justify-self: start;
                align-self: end;
                color: var(--text);
                background-color: transparent;
                border: none;
                padding: 5px 20px;
                font-weight: 400;
            }

            .remove-wishlist:hover {
                color: var(--orange_primary);
            }
        }

        #product-price-buy {
            text-align: right;
            display: grid;
            grid-template-rows: auto auto;

            p {
                margin-right: 5px;
                font-size: 20px;
                font-weight: bold;
                color: var(--orange_primary);

                align-self: start;
            }

            .buy {
                padding: 5px 20px;
                border-radius: 5px;
                display: inline-block;
                background-color: transparent;
                border: 1px solid var(--orange_primary);
                color: var(--orange_primary);
                font-weight: normal;

                align-self: end;
            }

            .buy:hover {
                background-color: var(--orange_primary);
                color: white;
            }
            
        }
    }
}

#products {
    margin-left: 220px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    article {
        display: grid;
        grid-template-rows: 1fr auto auto auto;

        background-color: var(--text2);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        h1 {
            font-size: 18px;
            margin-top: 10px;
        }

        p {
            font-size: 16px;
            margin-top: 5px;
        }

        img {
            width: 100%;
            border-radius: 5px;
            justify-self: center;
            align-self: center;
        }
        
        .add-wishlist {
            display: block;
            margin-top: 10px;
            padding: 8px 15px;
            background-color: var(--text);
            color: var(--text2);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;    
        }

        .add-wishlist:hover {
            background-color: var(--orange_primary);
        }
    }

    #no-results {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-self: center;
        padding: 10px;
        border: 1px solid var(--separator);
        border-radius: 5px;
        background-color: var(--information_background);
        text-align: start;
        width: auto;
        grid-column-end: span 4;

        h1 {
            font-size: 20px;
            margin: 5px 3em 10px 3em;
        }

        li {
            font-size: 16px;
            margin-bottom: 5px;
            margin-left: 3em;
        }
    }    
}

footer {
    clear: both;
    width: 100%;
    background-color: var(--input_background);
    color: var(--icons);
    text-align: center;
    padding: 5px 0;
    margin-top: 50px;
}


#item {
    margin: 20px;

    button {
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 10px 20px;
        background-color: var(--text);
        color: var(--text2);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;  

        a {
            color: white;
        }  
    }
    
    button:hover {
        background-color: var(--orange_primary);
    }
    
    .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 2em;
    }
    
    .image {
        grid-column: 1;
        grid-row: 1;
        background-color: var(--information_background);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        justify-content: center;
        align-items: center;
        display: flex;

        img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }
    }    
    
    .title {
        grid-row: 1;
        grid-column: 2;
        background-color: var(--information_background);
        padding: 2em;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

        h1 {
            font-size: 1.5em;
            margin-bottom: 0.5em;
        }
        #tags {
            margin-bottom: 1em;

            h2 {
                text-align: center;
                font-size: 0.8em;
                font-weight: regular;
                display: inline-block;
                padding: 0.5em 1em;
                background-color: var(--tags_background); 
                border-radius: 4px;
                margin-bottom: auto;
                margin-right: auto;
            }
        }
    
        h3 {
            font-size: 1.8em;
            margin-bottom: 1.8em;
        }
        
    }

    .seller-info {
        grid-row: 2;
        grid-column: 2;
        background-color: var(--information_background);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

        .location {
            font-style: italic;
        }

        p {
            margin-left: .5em;

            i {
                margin-right: 10px;
            }
        }
    }

    .description, .qna {
        grid-column: 1;
        background-color: var(--information_background);
        padding: 20px;
        border-radius: 8px;
    }

    .qna {
        textarea {
            border: 1px solid var(--separator); 
            background-color: var(--text2);
            width: calc(100% - 20px);
            height: 5em;
            padding: 10px;
            resize: none;
            border-radius: 8px;
            margin-bottom: 20px;
        }

        button {
            margin-bottom: 3em;
        }
        
        .qa-item {
            margin-bottom: 2em;
        }
    }
}


/**************User**************/
.user-form {
    max-width: 300px;
    padding: 20px;
    border: 1px solid var(--separator);
    border-radius: 5px;
    background-color: var(--input_background);
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 75px;

    input[type="text"],
    input[type="password"],
    input[type="submit"] {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        display: inline-block;
        border: 1px solid var(--separator);
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type="submit"] {
        background-color: var(--orange_primary);
        color: white;
        border: 1px solid var(--orange_primary);
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    input[type="submit"]:hover {
        background-color: var(--text2);
        color: var(--text);
    }
}

.loginRegister .account-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-size: small;

    a {
        color: rgb(0, 132, 255);
    }
}
/********************************/

/***********MESSAGES*************/
#messages {
    text-align: center;
    article {
        display: inline-block;
        border-radius: 5px;
        padding: 10px;
    }
}

#messages article.success {
    background-color: rgb(49, 204, 49);
    color: white;
}

#messages article.error {
    background-color: rgb(247, 44, 44);
    color: white;
}
/********************************/