.DS_Store
database/database.db
database/images/*
!database/images/1.jpg
!database/images/2.jpg
!database/images/3.jpg
!database/images/4.jpg
!database/images/4_1.jpg
!database/images/5.jpg
!database/images/6.jpg
!database/images/7.jpg
!database/images/8.jpg
!database/images/9.jpg
!database/images/10.jpg
!database/images/11.jpg
!database/images/11_1.jpg
!database/images/12.jpg
!database/images/12_1.jpg
!database/images/13.jpg
!database/images/14.jpg
!database/images/15.jpg
!database/images/16.jpg
!database/images/17.jpg
!database/images/18.jpg
!database/images/19.jpg
!database/images/20.jpg
!database/images/21.jpg
!database/images/22.jpg
!database/images/23.jpg
!database/images/24.jpg
!database/images/24_1.jpg
!database/images/25.jpg
!database/images/26.jpg
!database/images/27.jpg
!database/images/28.jpg
!database/images/29.jpg
!database/images/30.jpg
!database/images/31.jpg
!database/images/32.jpg
!database/images/33.jpg
!database/images/34.jpg
!database/images/35.jpg
!database/images/36.jpg
!database/images/37.jpg
!database/images/38.jpg
!database/images/39.jpg
!database/images/40.jpg
!database/images/41.jpg
!database/images/42.jpg
!database/images/43.jpg
!database/images/44.jpg
!database/images/default.jpg